---
layout: default
---

<div id="js-portfolio" class="portfolio center-block clearfix">
  {% for post in site.posts %}
  {% assign tags = post.tags | join: ' ' %}

    <a href="#{{ post.id | split: "/" | last }}-content" id="{{ post.id | split: "/" | last }}" class="portfolio-card js-load-content" style="background-image :url( images/{{ post.id | split: "/" | last }}-header.jpg )" data-tags="{{ tags }}">
      <p class="title">{{ post.title }}</p>
      <p class="tags">{{ tags }}</p>
    </a>

  {% endfor %}

  {% for post in site.posts %}

    <div class="content clearfix" id="#{{ post.id | split: "/" | last }}-content">
      {{ post.content }}
    </div>

  {% endfor %}
</div>
