<article id="contact"
  data-behavior="tab"
  class="tabs__content {% if page.active_tab == 'contact' %}_active{% endif %}">
  <div class="post _contact flex flex-vertical justify-center">
    <div class="post__container mx-auto">
      <h1 class="text-primary shadow-text">Say hello 👋</h1>
      <p class="mb-lg">
        Get at me on
        <a href="{{ site.twitter}}" target="_blank" rel="noreferrer">Twitter</a>,
        <a href="{{ site.github}}" target="_blank" rel="noreferrer">GitHub</a>,
        and <a href="{{ site.linkedin}}" target="_blank" rel="noreferrer">LinkedIn</a>.
        Or send me an email, or don't.
      </p>

      {% include form.html %}
    </div>
  </div>
</article>
