<header>
  <h1 class="logo js-connect-button">Brian Holt</h1>

  <div id="js-connect" class="connect center-block clearfix">
    <div class="bio">
      <p>Brian Holt is an award-winning graphic designer in Vancouver, Canada, who turns incomprehensible jargon into a clear message, ugly into pretty, and awkwardness into grace.</p>
      <p>Brian Holt is a web developer in Vancouver, Canada, that likes 01100011 01101111 01100100 01101001 01101110 01100111.</p>
      <p>Brian Holt is an artist in Vancouver, Canada, selfishly striving to make things that are meaningful and everlasting while trying to find purpose in this crazy thing called life. Guys, <em>it's so crazy.</em></p>
      <p>Brian Holt is a musician in Vancouver, Canada, working diligently on becoming the "next big thing". He plays several instruments, notably guitar, drums, and bass. Singing and pressing buttons on the keyboard are also adorably attempted.</p>
      <p>Brian Holt is an amateur photographer in Vancouver, Canada, armed with an iPhone and Instagram. He's just like you.</p>
      <p>Brian Holt is a person in Vancouver, Canada, who likes meeting new people from anywhere. You can tweet him up <a href="http://twitter.com/BHOLTBHOLT">there ↗</a> or contact him  over <a href="mailto:bholtbholt@icloud.com">there →</a></p>
    </div>

<!--     <div id="Twitter-Form">
      <div>
        <a class="twitter-timeline" href="https://twitter.com/BHOLTBHOLT" data-widget-id="380787574144389120" data-border-color="#e5e5e5" data-chrome="noheader" height="330">Tweets by @BHOLTBHOLT</a>
        <script defer>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <form id="contact" method="post">
        <input id="name" type="text" placeholder="Your Name" >
        <input id="email" type="email" placeholder="Your E-mail Address"><br/>
        <textarea id="message" rows="8" cols="39" placeholder="Write me a message!"></textarea><br/>
        <input type="submit" value="Send Form" id="submit"/>
      </form>
    </div> -->
  </div>

  <nav><ul class="filter">
    <li><a name="advertising">Advertising</a></li>
    <li><a name="art">Art</a></li>
    <li><a name="design">Design</a></li>
    <li><a name="development">Development</a></li>
    <li><a name="music">Music</a></li>
    <li><a name="photography">Photography</a></li>
    <li><a name="">All</a></li>
    <li><a class="connectButton">Connect</a></li>
  </ul></nav>
</header>
