<article class="post _intro scroll-align-start flex flex-vertical justify-center">

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 667 110" class="illustration" style="right: 0; bottom: 0; z-index: 0">
    <defs>
      <path id="wave" fill="none" stroke-linecap="round" stroke-width="6" d="M-.5 40.202c333.524-128.401 396.805 143.7 667.049 0"/>
    </defs>

    <use xlink:href="#wave" x="0"  y="0" class="illustration__stroke animate-wave" />
    <use xlink:href="#wave" x="80"  y="8" class="illustration__stroke animate-wave" />
    <use xlink:href="#wave" x="300"  y="22" class="illustration__stroke animate-wave" />
  </svg>
  <div class="post__container mx-auto">
    <h1 class="intro__title shadow-text">Web-Dev with Brian Holt 🏄🏻‍♂️</h1>
    <hr/>
    <p class="intro__text text-light">
      {{ site.description }}
    </p>
  </div>
</article>
