<div id="now"
  data-behavior="tab"
  class="tabs__content {% if page.active_tab == 'now' %}_active{% endif %}">
  <div class="post _now flex flex-vertical justify-center">
    <div class="post__container mx-auto">
      <h1 class="text-primary shadow-text">What is he up to <a href="https://nownownow.com/about" target="_blank" rel="noreferrer" class="text-decoration-none">now</a>? 👨🏻‍💻</h1>
      <p>Living in Vancouver with Jenny and Dad, their cat. Playing music semi-regularly with some friends. Pretty into indie-games on Nintendo Switch, exploring Korean food on Robson Street, and mixing whiskey/mezcal cocktails.</p>
      <p>Building new products and defining the front-end methodology at <a href="https://www.retailzipline.com" target="_blank" rel="noreferrer">Retail Zipline</a> while working remotely. On the side, playing with Elm, TypeScript, and Serverless.</p>

      <hr class="mb-0">

      <ul class="list-unstyled mb-xl">
        {% assign sorted_now = site.now | sort: 'date' %}
        {% for now in sorted_now reversed %}
          <li class="scroll-align-start pt-xl">
            <div class="font-sm text-light">{{ now.date | date_to_long_string }}</div>
            {{ now.content }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
