<div
  id="now"
  data-behavior="tab"
  class="tabs__content {% if page.active_tab == 'now' %}_active{% endif %}"
>
  <div
    class="post flex flex-vertical justify-center"
    style="
      --bg-color: radial-gradient(circle at top, hsl(40, 100%, 54%), hsl(36, 92%, 50%));
      --font-base: hsl(60, 100%, 92%);
      --font-light: hsl(44, 90%, 88%);
      --font-primary: hsl(40, 100%, 97%);
      --hr-color: hsl(40, 90%, 73%);"
  >
    <div class="post__container mx-auto">
      <h1 class="text-primary shadow-text">
        What is he up to
        <a
          href="https://nownownow.com/about"
          target="_blank"
          rel="noreferrer"
          class="text-decoration-none"
          >now</a
        >? 👨🏻‍💻
      </h1>
      <p>
        I live in Victoria, Canada with my partner and our cat, Daikon. Sometimes I play like seven
        instruments, or Breath of the Wild on Switch. I like making pretentious cocktails and
        drinking them with pretentious people. This year, I'm focused on releasing music under
        <a href="https://www.tiktok.com/@commacomma" target="_blank" rel="noreferrer">Comma Comma</a>.
      </p>
      <p>
        I work at <a href="https://www.digitalocean.com" target="_blank" rel="noreferrer">DigitalOcean</a>
        on the UI Platform team, building internal tools and products for frontend engineers. I spent the
        previous five years as a founding engineer at <a href="https://getzipline.com" target="_blank" rel="noreferrer">Zipline</a>
        building consumer products that hundreds of thousands of people use daily.
      </p>
    </div>
  </div>
</div>
