$blue: #09f;
$dark-blue: #003d71;
$link-blue: #1c5690;
$white: #fff;
$grey: #333;
$shadow: 0 2px 3px rgba(0,0,0,.4);

///////////////////////////////////////////////////////////
// Reset
///////////////////////////////////////////////////////////

  *, *:before, *:after {
    box-sizing: border-box;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1.8;
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  ul, ol {
    padding-left: 20px;
  }

  h1, h2, p, ul, ol {
    margin-bottom: 10px;
  }

  a {
    color: $blue;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }


///////////////////////////////////////////////////////////
// Layout
///////////////////////////////////////////////////////////

  header {
    background: $blue;
    box-shadow:0 3px rgba(209,237,255,.8);
    font-size:1.2em;
    line-height:20px;
    text-align:center;
    text-transform:uppercase;
    padding: 20px 0;
  }
  .portfolio { margin:20px auto; width:954px; }
  .clear { clear:both; }
  footer { clear:both; min-height:100px; }



///////////////////////////////////////////////////////////
// Menu
///////////////////////////////////////////////////////////

  #logo {
    color: $dark-blue;
    font-size: 3.4em;
    line-height: .8em;
    letter-spacing: -5px;
    margin: 0;
  }
  #filter { display:none; }
  nav ul, nav li {
    list-style-type:none;
    display:inline-block;
    padding:0 8px;
  }
  nav a {
    color: $link-blue;
    text-decoration:none;
    -o-transition:color .2s ease-in;
    -ms-transition:color .2s ease-in;
    -moz-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;
    transition:color .2s ease-in;
    cursor: pointer;
  }
  nav a:hover { color:#fafafa; }
  #connect {
    background:#FFF;
    border-top:6px solid #e5e5e5;
    color:#333;
    display:none;
    font-size:16px;
    line-height:1.35em;
    margin:20px auto 0;
    padding:20px;
    text-align:left;
    text-transform:none;
    width:314px;
  }
  #connect a { color: $blue; text-decoration:none; }
  #connect a:hover { color:#66ccff; }
  .connectButton {
    cursor: pointer;
  }
  #bio {
    display:inline-block;
  }
  #contact {
    border:1px solid #e5e5e5;
    display:block;
    margin-top:20px;
    padding:5px;
  }



///////////////////////////////////////////////////////////
// Portfolio Cards
///////////////////////////////////////////////////////////

  .portfolio-card {
    height: 186px;
    width: 298px;
    margin: 10px;
    padding: 15px;
    box-shadow: $shadow;

    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: $white;

    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: opacity .2s ease-in;
      opacity: 0;
    }

    &:hover {
      text-decoration: none;

      &:before {
        background-color: $blue;
        opacity: .8;
      }
    }
  }

  .portfolio-card .title,
  .portfolio-card .tags {
    opacity: 0;
    transition: opacity .2s ease-in;
    position: relative;
  }

  .portfolio-card:hover .title,
  .portfolio-card:hover .tags {
    opacity: 1;
  }

  .portfolio-card .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .portfolio-card .tags {
    font-size: 14px;
    text-transform: uppercase;
    word-spacing: 10px;
  }



///////////////////////////////////////////////////////////
// Content
///////////////////////////////////////////////////////////

  .content {
    background-color: $white;
    color: $grey;
    font-size: 16px;

    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    clear: both;

    height: 0;
    overflow: hidden;

    transition: height .6s ease-in,
      padding-top .6s ease-in,
      padding-bottom .6s ease-in;
  }

  .content.active {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .content h1 {
    color: $blue;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.4;
  }

  .content p:first-of-type {
    font-size: 19px;
  }

  // Refactor
    .content section {
      float: left;
      width:576px;
    }

    .content aside {
      float: right;
      margin-top: 24px;
      width: 258px;
    }

    .content aside img {
      float: right;
      margin-bottom: 10px;
    }

    .content aside .left img {
      float:left;
      margin:0 0 10px 10px;
    }

    .galleryRow img {
      margin:0 10px 10px 0;
    }
  // Refactor
