$blue: #09f;
$dark-blue: #003d71;
$white: #fff;
$grey: #333;
$light-grey: #e5e5e5;
$shadow: 0 2px 3px rgba(0,0,0,.4);

///////////////////////////////////////////////////////////
// Reset
///////////////////////////////////////////////////////////

  *, *:before, *:after {
    box-sizing: border-box;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1.4;
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  ul, ol {
    padding-left: 20px;
  }

  h1, h2, p, ul, ol {
    margin-bottom: 10px;
  }

  a {
    color: $blue;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }


///////////////////////////////////////////////////////////
// Layout
///////////////////////////////////////////////////////////

  body {
    background: url('../images/background.png') fixed;
  }

  header {
    background: $blue;
    box-shadow: $shadow;
    padding: 20px;
    border-bottom: 3px solid rgba(209,237,255,.8);
  }

  .clearfix {
    clear: both;

    &:before,
    &:after {
      content: ' ';
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  footer {
    min-height:100px;
  }

  .center-block {
    margin: 20px auto;
  }



///////////////////////////////////////////////////////////
// Menu
///////////////////////////////////////////////////////////

  .logo,
  .filter {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .logo {
    color: $dark-blue;
    letter-spacing: -4px;
    font-size: 160px;
    line-height: 1;
    cursor: pointer;
  }

  .connect {
    width: 934px;
    background: $white;
    color: $grey;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 0 solid transparent;
    margin: 0 auto;

    height: 0;
    overflow: hidden;

    transition: height .3s ease-in,
      border-top .3s ease-in;
  }

  .connect.active {
    border-top: 6px solid $light-grey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .filter {
    display: none;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .filter li {
    display: inline-block;
  }

  .filter a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: $dark-blue;
    cursor: pointer;
    transition: color .2s ease-in;

    &:hover {
      color: $white;
    }
  }



///////////////////////////////////////////////////////////
// Portfolio Cards
///////////////////////////////////////////////////////////

  .portfolio {
    width: 954px;
  }

  .portfolio-card {
    height: 186px;
    width: 298px;
    margin: 10px;
    padding: 15px;
    box-shadow: $shadow;

    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: $white;

    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: opacity .2s ease-in;
      opacity: 0;
    }

    &:hover {
      text-decoration: none;

      &:before {
        background-color: $blue;
        opacity: .8;
      }
    }
  }

  .portfolio-card .title,
  .portfolio-card .tags {
    opacity: 0;
    transition: opacity .2s ease-in;
    position: relative;
    line-height: 1.4;
  }

  .portfolio-card:hover .title,
  .portfolio-card:hover .tags {
    opacity: 1;
  }

  .portfolio-card .title {
    font-size: 24px;
    font-weight: bold;
  }

  .portfolio-card .tags {
    font-size: 14px;
    text-transform: uppercase;
    word-spacing: 10px;
    margin-bottom: 0;
  }



///////////////////////////////////////////////////////////
// Content
///////////////////////////////////////////////////////////

  .content {
    background-color: $white;
    color: $grey;
    font-size: 16px;

    padding-right: 40px;
    padding-left: 40px;

    height: 0;
    overflow: hidden;

    transition: height .4s ease-in;
  }

  .content.active {
    margin: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .content h1 {
    color: $blue;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.4;
  }

  .content p {
    line-height: 1.8;
  }

  .content p:first-of-type {
    font-size: 19px;
  }

  // Refactor
    .content section {
      float: left;
      width:576px;
    }

    .content aside {
      float: right;
      margin-top: 24px;
      width: 258px;
    }

    .content aside img {
      float: right;
      margin-bottom: 10px;
    }

    .content aside .left img {
      float:left;
      margin:0 0 10px 10px;
    }

    .galleryRow img {
      margin:0 10px 10px 0;
    }
  // Refactor
