html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  -moz-tab-size: 4;
  tab-size: 4; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

b,
strong {
  font-weight: bolder; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
select {
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

:root {
  --mobile-space-size: 14px;
  --desktop-space-size: 18px;
  --space-xs: 0.25rem;
  --space-sm: 0.625rem;
  --space-md: 1rem;
  --space-lg: 1.325rem;
  --space-xl: 4.245rem;
  --font-xs: 10px;
  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-base: hsl(186, 85%, 98%);
  --font-light: hsl(180, 100%, 96%);
  --font-primary: hsl(0, 100%, 100%);
  font-size: var(--mobile-space-size); }
  @media (min-width: 768px) {
    :root {
      font-size: var(--desktop-space-size);
      --font-xs: 14px;
      --font-sm: 16px;
      --font-md: 22px;
      --font-lg: 24px;
      --font-xl: 46px; } }

html {
  line-height: 1.6;
  background-color: #042125; }

body {
  font-size: var(--font-md); }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0; }

h1,
h2 {
  font-size: var(--font-xl);
  margin-bottom: var(--space-sm);
  font-weight: 900;
  line-height: 1.15; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

p {
  margin-bottom: var(--space-md); }
  p:last-of-type {
    margin-bottom: initial; }

.animate-wave {
  stroke-dasharray: 364 304 134 534;
  animation: wave 3s linear infinite reverse; }

@keyframes wave {
  0% {
    stroke-dashoffset: 1335; }
  100% {
    stroke-dashoffset: 0; } }

.animate-grid {
  animation: grid 8s infinite; }

@keyframes grid {
  0% {
    opacity: 0; }
  25%,
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.animate-flicker {
  animation: flicker 1500ms steps(3) infinite; }

@keyframes flicker {
  0%,
  33% {
    opacity: 0.5; }
  34%,
  100% {
    opacity: 0; } }

.animate-space-1 {
  animation: space-first 2500ms alternate ease-in infinite; }

@keyframes space-first {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(50px); } }

.animate-space-2 {
  animation: space-second 2500ms alternate ease-in infinite; }

@keyframes space-second {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100px); } }

.animate-sls-outline {
  stroke-dasharray: 364 304 134 534;
  animation: serverless 2s linear reverse infinite; }

@keyframes serverless {
  0% {
    stroke-dashoffset: 1335; }
  100% {
    stroke-dashoffset: 0; } }

.animate-eight-outline {
  stroke-dasharray: 934;
  stroke-dashoffset: 1868;
  animation: eight-outline 12s linear infinite; }

@keyframes eight-outline {
  0% {
    stroke-dashoffset: 2802; }
  25%,
  74% {
    stroke-dashoffset: 1868; }
  100% {
    stroke-dashoffset: 934; } }

.animate-eight-triangle {
  animation: eight-triangle 12s linear infinite; }

@keyframes eight-triangle {
  0%,
  15% {
    opacity: 0; }
  18%,
  30%,
  43%,
  55%,
  73%,
  85% {
    opacity: 1; }
  32%,
  40%,
  62%,
  70% {
    opacity: 0; }
  93%,
  100% {
    opacity: 0; } }

.animate-shimmer {
  animation: shimmer 2200ms steps(2) infinite; }

@keyframes shimmer {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.animate-sequencer {
  animation: sequencer 4s steps(8) infinite; }

@keyframes sequencer {
  0% {
    opacity: 1; }
  12%,
  100% {
    opacity: 0; } }

.animate-cursor {
  animation: blink 1500ms steps(1) infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; } }

.animate-paint {
  stroke-dasharray: 4304;
  animation: paint 5s linear alternate infinite; }

@keyframes paint {
  0% {
    stroke-dashoffset: 4304; }
  100% {
    stroke-dashoffset: 0; } }

.animate-paint-brush {
  animation: paint-brush 5s linear alternate infinite;
  transform-origin: 180px 880px; }

@keyframes paint-brush {
  0% {
    transform: translate(0, 0); }
  15% {
    transform: translate(0, -600px) rotate(-18deg); }
  44% {
    transform: translate(750px, 500px) rotate(-18deg); }
  75% {
    transform: translate(360px, -780px) rotate(-27deg); }
  100% {
    transform: translate(1010px, 60px) rotate(-38deg); } }

label {
  display: block; }

.form-control {
  border-radius: 0.38em;
  padding: var(--space-sm);
  border: none;
  width: 100%;
  color: var(--form-text-color);
  background-color: var(--form-bg-color);
  box-shadow: var(--form-inset-shadow);
  transition: box-shadow 120ms ease-in; }
  .form-control:focus {
    outline: 0;
    box-shadow: var(--form-outline-focus); }

textarea.form-control {
  height: 5em;
  resize: vertical; }

button[disabled] {
  opacity: 0.8;
  cursor: not-allowed; }

.btn-primary {
  text-align: center;
  white-space: nowrap;
  border-radius: 0.38em;
  padding: var(--space-sm) var(--space-md);
  cursor: pointer;
  background-color: var(--btn-bg-color);
  color: var(--form-text-color);
  border: none;
  box-shadow: var(--btn-shadow); }
  .btn-primary:hover:not([disabled]), .btn-primary:focus {
    background-color: var(--btn-bg-color-focus);
    outline: 0; }
  .btn-primary:active {
    background-color: var(--btn-bg-color-active);
    box-shadow: var(--btn-shadow-active);
    transform: translateY(0.1rem); }

.form-response {
  border-radius: 0.38em;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  padding: var(--space-sm); }

.form-response._success {
  background-color: var(--form-success-color);
  color: var(--form-success-text); }

.form-response._warning {
  background-color: var(--form-warning-color);
  color: var(--form-warning-text); }

.form-response._slide-in {
  transform: translateY(0);
  opacity: 1; }

.form-response._fade-out {
  animation: fade-out 8s forwards; }

@keyframes fade-out {
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.headroom {
  will-change: transform;
  transition: transform 200ms linear; }

.headroom--pinned {
  transform: translateY(0%); }

.headroom--unpinned {
  transform: translateY(-100%); }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: var(--space-lg) 0;
  border: 0;
  width: 66.6%;
  border-top: 1px solid var(--hr-color); }

.intro__title {
  font-size: 40px;
  line-height: 1; }
  @media (min-width: 768px) {
    .intro__title {
      font-size: 88px; } }

.intro__text {
  font-weight: 300;
  font-size: 16px; }
  @media (min-width: 768px) {
    .intro__text {
      font-size: 24px; } }

.illustration {
  position: absolute;
  bottom: 5%;
  right: 5%;
  opacity: 0.1;
  z-index: 0; }
  @media (orientation: landscape) {
    .illustration {
      height: calc(62vh);
      max-height: calc(100% - (5% * 2)); } }
  @media (orientation: portrait) {
    .illustration {
      width: calc(66vw);
      max-width: calc(100% - (5% * 2)); } }

.illustration__fill {
  fill: var(--font-light); }

.illustration__stroke {
  stroke: var(--font-light); }

.loading-dots {
  height: 10px;
  width: 10px;
  margin: 5px 30px;
  border-radius: 50%;
  background-color: var(--loading-dots-color-base);
  position: relative;
  animation: load-glow 1.5s infinite;
  animation-delay: 0.6s; }
  .loading-dots:before, .loading-dots:after {
    content: '';
    background-color: var(--loading-dots-color-base);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute; }
  .loading-dots:before {
    left: -20px;
    animation: load-glow 1.5s infinite; }
  .loading-dots:after {
    right: -20px;
    animation: load-glow 1.5s infinite;
    animation-delay: 0.9s; }

@keyframes load-glow {
  50% {
    background-color: var(--loading-dots-color-animate); } }

.masthead {
  border-top: var(--space-xs) solid rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1; }

.masthead__link {
  display: inline-block;
  padding: var(--space-sm) var(--space-md);
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin-top: calc(var(--space-xs) * -1);
  border-top: var(--space-xs) solid transparent;
  transition: color 200ms ease-in; }
  .masthead__link:hover, .masthead__link:focus {
    color: white; }

.masthead__link._active {
  color: #fff;
  border-top: var(--space-xs) solid #fff; }

.post {
  min-height: 100vh;
  color: var(--font-base);
  padding: var(--space-xl) var(--space-md);
  position: relative; }

.post a {
  color: inherit; }
  .post a:hover, .post a:focus {
    color: var(--font-primary); }

.post__container {
  max-width: 60ch; }

.post._intro {
  background-image: radial-gradient(circle at top left, #12cee2, #08a8d9);
  --font-base: hsl(186, 85%, 98%);
  --font-light: hsl(180, 100%, 96%);
  --hr-color: hsl(186, 85%, 72%); }

.post._now {
  background-image: radial-gradient(circle at top, #ffb114, #f5970a);
  --font-base: hsl(60, 100%, 92%);
  --font-light: hsl(44, 90%, 88%);
  --font-primary: hsl(40, 100%, 97%);
  --hr-color: hsl(40, 90%, 73%); }

.post._contact {
  background-image: radial-gradient(circle at top, #ff75b6, #ff42ba);
  --font-base: hsl(308, 100%, 94%);
  --font-light: hsl(322, 100%, 90%);
  --font-primary: hsl(322, 100%, 98%);
  --form-bg-color: hsl(322, 100%, 96%);
  --form-text-color: hsl(328, 95%, 13%);
  --form-inset-shadow: inset 0 0.12em 0.05em hsla(322, 90%, 30%, 0.5),
    inset 0 0.2em 0.25em hsla(322, 50%, 30%, 0.2);
  --form-outline-focus: 0 0.2em 0 0.03em hsl(322, 70%, 40%);
  --btn-bg-color: hsl(322, 100%, 96%);
  --btn-bg-color-focus: hsl(322, 100%, 100%);
  --btn-bg-color-active: hsl(322, 100%, 90%);
  --btn-shadow: 0 0.2em 0 0.03em hsl(322, 70%, 40%);
  --btn-shadow-active: inset 0 0.12em 0.05em hsla(322, 90%, 30%, 0.5),
    inset 0 0.2em 0.25em hsla(322, 50%, 30%, 0.2);
  --form-success-color: hsl(171, 84%, 38%);
  --form-success-text: hsl(171, 90%, 90%);
  --form-warning-color: hsl(40, 100%, 54%);
  --form-warning-text: hsl(40, 100%, 98%);
  --loading-dots-color-base: hsla(322, 70%, 15%, 0.3);
  --loading-dots-color-animate: hsla(322, 70%, 15%, 0.8); }

.post._css-tricks {
  background-image: radial-gradient(circle at top right, #ff8800, #da1b61);
  --font-base: hsl(28, 90%, 96%);
  --font-light: hsl(29, 70%, 86%);
  --font-primary: hsl(28, 90%, 98%); }

.post._skillshare {
  background-image: radial-gradient(circle at top, #017883, #005470);
  --font-base: hsl(180, 100%, 96%);
  --font-light: hsl(185, 98%, 86%);
  --font-primary: hsl(180, 98%, 99%); }

.post._golden-space {
  background-image: radial-gradient(circle at top right, #f9cb24 32%, #daa12f);
  --font-base: hsl(50, 100%, 94%);
  --font-light: hsl(56, 70%, 88%);
  --font-primary: hsl(50, 100%, 98%); }

.post._serverless {
  background-image: radial-gradient(circle at top, #fd544e, #e72e27);
  --font-base: hsl(0, 90%, 95%);
  --font-light: hsl(0, 90%, 86%);
  --font-primary: hsl(2, 80%, 97%); }

.post._magic-eight {
  background-image: radial-gradient(circle, #564b91, #3b3267);
  --font-base: hsl(260, 35%, 92%);
  --font-light: hsl(260, 35%, 82%);
  --font-primary: hsl(250, 35%, 96%);
  --dasharray-one: 934; }

.post._drum {
  background-image: radial-gradient(circle at top, #1abc9c, #19856f);
  --font-base: hsl(180, 100%, 96%);
  --font-light: hsl(180, 76%, 88%);
  --font-primary: hsl(168, 100%, 99%); }

.post._components {
  background-image: radial-gradient(circle, #c52026, #ac151a);
  --font-base: hsl(358, 76%, 92%);
  --font-light: hsl(358, 72%, 88%);
  --font-primary: hsl(358, 72%, 95%); }

.post._jenny {
  background-image: radial-gradient(circle at top, #2d9f66, #177847);
  --font-base: hsl(160, 70%, 96%);
  --font-light: hsl(160, 85%, 83%);
  --font-primary: hsl(170, 100%, 98%); }

.post._startup-color {
  background-image: radial-gradient(circle at top, #3398db, #1476b8);
  --font-base: hsl(204, 80%, 93%);
  --font-light: hsl(204, 80%, 86%);
  --font-primary: hsl(204, 80%, 96%); }

.tabs__content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 300ms ease-out; }

.tabs__content._active {
  opacity: 1;
  height: auto;
  overflow: initial; }

.animate-offset-1 {
  animation-delay: 500ms; }

.animate-offset-2 {
  animation-delay: 1000ms; }

.animate-offset-3 {
  animation-delay: 1500ms; }

.animate-offset-4 {
  animation-delay: 2000ms; }

.animate-offset-5 {
  animation-delay: 2500ms; }

.animate-offset-6 {
  animation-delay: 3000ms; }

.animate-offset-7 {
  animation-delay: 3500ms; }

.animate-offset-8 {
  animation-delay: 4000ms; }

.animate-offset-9 {
  animation-delay: 4500ms; }

.animate-offset-10 {
  animation-delay: 5000ms; }

.flex {
  display: flex; }

.flex > *,
.flex-desktop > * {
  min-width: 0; }

.flex-vertical {
  flex-direction: column; }

.justify-center {
  justify-content: center; }

@media (min-width: 768px) {
  .flex-desktop {
    display: flex; }
  .col {
    flex: 1 1;
    margin-left: var(--space-md);
    margin-right: var(--space-md); }
    .col:first-of-type {
      margin-left: initial; }
    .col:last-of-type {
      margin-right: initial; } }

.list-inline {
  padding-left: 0; }

.list-inline li {
  display: inline-block; }

.list-unstyled {
  padding-left: initial;
  list-style: none; }

.mb-xs {
  margin-bottom: var(--space-xs); }

.mb-sm {
  margin-bottom: var(--space-sm); }

.mb-md {
  margin-bottom: var(--space-md); }

.mb-lg {
  margin-bottom: var(--space-lg); }

.mb-xl {
  margin-bottom: var(--space-xl); }

.mr-sm {
  margin-right: var(--space-sm); }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.opacity-0 {
  opacity: 0; }

.opacity-50 {
  opacity: 0.5; }

@media (min-height: 375px) {
  .scroll-snap {
    scroll-snap-type: y mandatory; }
  .scroll-align-start {
    scroll-snap-align: start; } }

.shadow-text {
  text-shadow: 0.015em 0.03em 0.05em rgba(0, 0, 0, 0.3), 0.04em 0.08em 0.15em rgba(0, 0, 0, 0.15); }

.shadow {
  box-shadow: 0.015em 0.06em 0.07em rgba(0, 0, 0, 0.3), 0.04em 0.15em 0.2em rgba(0, 0, 0, 0.15); }

.text-capitalize {
  text-transform: capitalize; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-decoration-none {
  text-decoration: none; }

.font-xs {
  font-size: var(--font-xs); }

.font-sm {
  font-size: var(--font-sm); }

.font-md {
  font-size: var(--font-md); }

.font-lg {
  font-size: var(--font-lg); }

.font-xl {
  font-size: var(--font-xl); }

.text-base {
  color: var(--font-base); }

.text-light {
  color: var(--font-light); }

.text-primary {
  color: var(--font-primary); }
