.post {
  color: text-color('base');
  padding: space('xl') space('md');
  position: relative;

  @media (breakpoint('desktop')) {
    min-height: 100vh;
  }
}

.post a {
  color: inherit;

  &:hover,
  &:focus {
    color: var(--font-primary);
  }
}

.post__container {
  max-width: 60ch;
  z-index: 0;
}

/////////////////////////////////////////////////
// Specific Background Colours
/////////////////////////////////////////////////

.post._intro {
  background-image: radial-gradient(circle at top left, hsl(186, 85%, 48%), hsl(194, 93%, 44%));

  --font-base: hsl(186, 85%, 98%);
  --font-light: hsl(180, 100%, 96%);
  --hr-color: hsl(186, 85%, 72%);
}

.post._now {
  background-image: radial-gradient(circle at top, hsl(40, 100%, 54%), hsl(36, 92%, 50%));

  --font-base: hsl(60, 100%, 92%);
  --font-light: hsl(44, 90%, 88%);
  --font-primary: hsl(40, 100%, 97%);
  --hr-color: hsl(40, 90%, 73%);
}

.post._contact {
  background-image: radial-gradient(circle at top, hsl(332, 100%, 73%), hsl(322, 100%, 63%));

  --font-base: hsl(308, 100%, 94%);
  --font-light: hsl(322, 100%, 90%);
  --font-primary: hsl(322, 100%, 98%);

  --form-bg-color: hsl(322, 100%, 96%);
  --form-text-color: hsl(328, 95%, 13%);
  --form-inset-shadow: inset 0 0.12em 0.05em hsla(322, 90%, 30%, 0.5),
    inset 0 0.2em 0.25em hsla(322, 50%, 30%, 0.2);
  --form-outline-focus: 0 0.2em 0 0.03em hsl(322, 70%, 40%);

  --btn-bg-color: hsl(322, 100%, 96%);
  --btn-bg-color-focus: hsl(322, 100%, 100%);
  --btn-bg-color-active: hsl(322, 100%, 90%);
  --btn-shadow: 0 0.2em 0 0.03em hsl(322, 70%, 40%);
  --btn-shadow-active: inset 0 0.12em 0.05em hsla(322, 90%, 30%, 0.5),
    inset 0 0.2em 0.25em hsla(322, 50%, 30%, 0.2);

  --form-success-color: hsl(171, 84%, 38%);
  --form-success-text: hsl(171, 90%, 90%);
  --form-warning-color: hsl(40, 100%, 54%);
  --form-warning-text: hsl(40, 100%, 98%);

  --loading-dots-color-base: hsla(322, 70%, 15%, 0.3);
  --loading-dots-color-animate: hsla(322, 70%, 15%, 0.8);
}

.post._bootstrap-upgrade {
  background-image: radial-gradient(circle at right, hsl(264, 39%, 51%), hsl(264, 80%, 76%));

  --font-base: hsl(264, 39%, 96%);
  --font-light: hsl(264, 39%, 86%);
  --font-primary: hsl(264, 39%, 98%);
}

.post._css-tricks {
  background-image: radial-gradient(circle at top right, hsl(32, 100%, 50%), hsl(338, 78%, 48%));

  --font-base: hsl(28, 90%, 96%);
  --font-light: hsl(29, 70%, 86%);
  --font-primary: hsl(28, 90%, 98%);
}

.post._skillshare {
  background-image: radial-gradient(circle at top, hsl(185, 98%, 26%), hsl(195, 100%, 22%));

  --font-base: hsl(180, 100%, 96%);
  --font-light: hsl(185, 98%, 86%);
  --font-primary: hsl(180, 98%, 99%);
}

.post._golden-space {
  background-image: radial-gradient(circle at top right, hsl(47, 95%, 56) 32%, hsl(40, 70%, 52%));

  --font-base: hsl(50, 100%, 94%);
  --font-light: hsl(56, 70%, 88%);
  --font-primary: hsl(50, 100%, 98%);
}

.post._serverless {
  background-image: radial-gradient(circle at top, hsl(2, 98%, 65%), hsl(2, 80%, 53%));

  --font-base: hsl(0, 90%, 95%);
  --font-light: hsl(0, 90%, 86%);
  --font-primary: hsl(2, 80%, 97%);
}

.post._magic-eight {
  background-image: radial-gradient(circle, hsl(250, 32%, 43%), hsl(250, 35%, 30%));

  --font-base: hsl(260, 35%, 92%);
  --font-light: hsl(260, 35%, 82%);
  --font-primary: hsl(250, 35%, 96%);
  --dasharray-one: 934;
}

.post._drum {
  background-image: radial-gradient(circle at top, hsl(168, 76%, 42%), hsl(168, 68%, 31%));

  --font-base: hsl(180, 100%, 96%);
  --font-light: hsl(180, 76%, 88%);
  --font-primary: hsl(168, 100%, 99%);
}

.post._components {
  background-image: radial-gradient(circle, hsl(358, 72%, 45%), hsl(358, 78%, 38%));

  --font-base: hsl(358, 76%, 92%);
  --font-light: hsl(358, 72%, 88%);
  --font-primary: hsl(358, 72%, 95%);
}

.post._jenny {
  background-image: radial-gradient(circle at top, hsl(150, 56%, 40%), hsl(150, 68%, 28%));

  --font-base: hsl(160, 70%, 96%);
  --font-light: hsl(160, 85%, 83%);
  --font-primary: hsl(170, 100%, 98%);
}

.post._startup-color {
  background-image: radial-gradient(circle at top, hsl(204, 70%, 53%), hsl(204, 80%, 40%));

  --font-base: hsl(204, 80%, 93%);
  --font-light: hsl(204, 80%, 86%);
  --font-primary: hsl(204, 80%, 96%);
}
