.post {
  color: text-color('base');
  padding: space('xl') space('md');
  position: relative;
  min-height: 100vh;
  background-image: var(--bg-color);
}

.post a {
  color: inherit;

  &:hover,
  &:focus {
    color: var(--font-primary);
  }
}

.post__container {
  max-width: 60ch;
  z-index: 0;
}
